.sky-block {
  padding-top: 164px;

  @media screen and (min-width: 1025px) {
    padding-top: 164px;
  }
  position: relative;
  .container {
    position: relative;
    z-index: 2;
    .sky-block__title {
      max-width: 846px;
      width: 100%;
      margin: 0 auto 72px;

      @media screen and (min-width: 1025px) {
        max-width: 846px;
      }

      h2 {
        text-align: center;
        font-weight: 500;
      }
    }

    .sky-block__text {
      max-width: 368px;
      margin: 0 auto;

      @media screen and (min-width: 1025px) {
        max-width: 612px;
      }

      p {
        text-align: center;
        color: #fff;
      }
    }
  }

  .sky-block__actions {
    display: flex;
    justify-content: center;
    margin: 64px auto 0;

    .btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      margin: 0 auto;
      padding: 12px 24px;
      height: 48px;
      min-width: 160px;

      font-family: "DM Sans", sans-serif;
      font-weight: 300;
      font-size: 1rem;
      line-height: 1;
      color: #fff;

      border: none;
      border-radius: 12px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      isolation: isolate;

      // ==== background
      background: radial-gradient(
          61% 56% at 50% 15%,
          rgba(57, 143, 255, 0.4) 0,
          rgba(57, 143, 255, 0) 98%
        ),
        rgba(57, 143, 255, 0.04);

      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);

      // ==== effects
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35),
        /* inner shadow */ 0 2px 4px rgba(0, 0, 0, 0.25),
        /* drop shadow 1 */ 0 0 0 1px rgba(105, 87, 186, 0.25); /* drop shadow 2 */

      transition: all 0.3s ease;

      @media screen and (min-width: 1025px) {
        margin-bottom: 204px;
      }

      &::before {
        content: "";
        position: relative;
        top: 0;
        left: -5px;
        width: 20px;
        height: 9px;
        background-image: url("../images/arrow.svg");
        background-position: center;
        background-repeat: no-repeat;
        transition: all 0.3s ease;
        pointer-events: none;
      }

      &:hover {
        background: radial-gradient(
            61% 56% at 50% 15%,
            rgba(57, 143, 255, 0.7) 0,
            rgba(57, 143, 255, 0) 98%
          ),
          rgba(57, 143, 255, 0.04);

        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        transform: translateY(-1px);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45),
          0 3px 6px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(105, 87, 186, 0.35);
        text-decoration: none;
        transition: all 0.3s ease;
        &::before {
          transition: all 0.3s ease;
          left: 0;
        }
      }

      &:active {
        transform: translateY(0);
        background: radial-gradient(
            61% 56% at 50% 15%,
            rgba(57, 143, 255, 0.7) 0,
            rgba(57, 143, 255, 0) 98%
          ),
          rgba(57, 143, 255, 0.04);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25),
          0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(105, 87, 186, 0.2);
        text-decoration: none;
        &::before {
          transition: all 0.3s ease;
          left: 0;
        }
      }
    }
  }

  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
  }
}
