.cards-block {
  margin: 100px auto 0;
  position: relative;
  .container {
    position: relative;
    z-index: 2;
    max-width: 369px;
    margin: 0 auto;

    @media screen and (min-width: 1025px) {
      max-width: 1240px;
      width: 100%;
    }

    @media screen and (min-width: 816px) {
      max-width: 1240px;
      padding: 0 15px;
    }

    .cards-block__inner {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: flex-start;
      margin: 0 auto;

      @media screen and (min-width: 1025px) {
        max-width: 1240px;
        width: 100%;
      }

      .cards-block__name {
        display: flex;
        width: fit-content;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 30px;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.8);
        padding: 2px 10px;
        margin-bottom: 16px;
      }

      .cards-block__content {
        position: relative;
        display: flex;
        align-items: center;
        flex-flow: column;

        .cards-block__title {
          max-width: 368px;
          margin: 0 auto 42px;
          z-index: 1;
          text-align: center;

          @media screen and (min-width: 1025px) {
            max-width: 846px;
          }

          h2 {
            font-weight: 500;
          }
        }

        .cards-block__text {
          max-width: 368px;
          margin: 0 auto;
          z-index: 1;

          @media screen and (min-width: 1025px) {
            max-width: 764px;
          }

          p {
            color: rgba($color: #fff, $alpha: 0.6);
            text-align: center;
            font-size: 16px;

            @media screen and (min-width: 1025px) {
            font-size: 20px;
            }
          }
        }

        .cards-block__list {
          list-style: none;
          padding: 0;
          margin: 48px auto 0;
          max-width: 368px;
          z-index: 1;

          @media screen and (min-width: 1025px) {
            max-width: 612px;
          }

          .cards-block__item {
            display: flex;
            align-items: flex-start;
            margin: 8px 0;
            font-weight: 200;

            &::before {
              content: "";
              display: block;
              background-image: url("../images/chevron.svg");
              background-position: center;
              background-repeat: no-repeat;
              width: 24px;
              height: 24px;
              position: relative;
              margin-right: 12px;
            }
          }
        }
      }

      .cards-block__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 24px;
        margin: 48px auto 0;
        width: 100%;
        &::before {
          content: "";
          display: block;
          width: 200px;
          height: 200px;
          background-color: #7ec3f4;
          border-radius: 50%;
          filter: blur(200px);
          position: absolute;
          z-index: 0;
          top: 50%;
          left: 50%;
          transform: translate(-50%, 50%);
        }

        @media screen and (min-width: 768px) {
          grid-template-columns: 1fr 1fr;
        }

        @media screen and (min-width: 1025px) {
          grid-template-columns: 1fr 1fr;
          max-width: 1240px;
        }

        .cards-block__card {
          background-color: rgba(255, 255, 255, 0.1);
          border-radius: 16px;
          padding: 24px;
          height: 100%;

          .cards-block__card-head {
            display: flex;
            align-items: center;
            margin-bottom: 16px;
            gap: 16px;

            .cards-block__card-icon {
              width: 48px;
              height: 48px;
              margin-right: 16px;
              flex-shrink: 0;
            }

            .cards-block__card-title {
              font-size: 24px;
              font-weight: 500;
              color: #fff;
            }
          }

          p {
            margin: 0;
            color: rgba($color: #fff, $alpha: 0.7);
            font-size: 16px;
            line-height: 1.5;
            font-weight: 200;
            margin-bottom: 24px;
          }

          li {
            margin-bottom: 12px;
            color: #fff;
            font-weight: 200;
            font-size: 14px;
          }
        }
      }
    }
  }
}
