.cases-block {
  margin: 120px auto 0;
  position: relative;
  overflow: hidden;

  .container {
    max-width: 369px;
    margin: 0 auto;
    position: relative;
    z-index: 2;

    @media (min-width: 816px) {
      max-width: 1240px;
      padding: 0 15px;
    }
    @media (min-width: 1025px) {
      max-width: 1240px;
      width: 100%;
    }
  }

  &__header {
    text-align: center;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .cases-block__header-bottom {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }

  &__label {
    background: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    padding: 6px 16px;
    border-radius: 30px;
    backdrop-filter: blur(4px);
    margin-bottom: 16px;
  }

  &__title {
    max-width: 940px;
    h2 {
      font-weight: 500;
    }
  }

  &__cta {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    margin: 0 auto;
    padding: 12px 24px;
    height: 48px;
    min-width: 160px;

    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1;
    color: #fff;

    border: none;
    border-radius: 12px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    isolation: isolate;

    // ==== background
    background: radial-gradient(
        61% 56% at 50% 15%,
        rgba(57, 143, 255, 0.4) 0,
        rgba(57, 143, 255, 0) 98%
      ),
      rgba(57, 143, 255, 0.04);

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    // ==== effects
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35),
      /* inner shadow */ 0 2px 4px rgba(0, 0, 0, 0.25),
      /* drop shadow 1 */ 0 0 0 1px rgba(105, 87, 186, 0.25); /* drop shadow 2 */

    transition: all 0.3s ease;

    &::before {
      content: "";
      position: relative;
      top: 0;
      left: -5px;
      width: 20px;
      height: 9px;
      background-image: url("../images/arrow.svg");
      background-position: center;
      background-repeat: no-repeat;
      transition: all 0.3s ease;
      pointer-events: none;
    }

    &:hover {
      background: radial-gradient(
          61% 56% at 50% 15%,
          rgba(57, 143, 255, 0.7) 0,
          rgba(57, 143, 255, 0) 98%
        ),
        rgba(57, 143, 255, 0.04);

      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
      transform: translateY(-1px);
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45),
        0 3px 6px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(105, 87, 186, 0.35);
      text-decoration: none;
      transition: all 0.3s ease;
      &::before {
        transition: all 0.3s ease;
        left: 0;
      }
    }

    &:active {
      transform: translateY(0);
      background: radial-gradient(
          61% 56% at 50% 15%,
          rgba(57, 143, 255, 0.7) 0,
          rgba(57, 143, 255, 0) 98%
        ),
        rgba(57, 143, 255, 0.04);
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25),
        0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(105, 87, 186, 0.2);
      text-decoration: none;
      &::before {
        transition: all 0.3s ease;
        left: 0;
      }
    }
  }

  // &::before {
  //   content: "";
  //   width: 300px;
  //   height: 300px;
  //   background: #7ec3f4;
  //   filter: blur(180px);
  //   position: absolute;
  //   top: 10%;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   opacity: 0.3;
  //   z-index: 0;
  // }

  &__slider {
    position: relative;
  }

  .case-slide {
    display: none;
    opacity: 0;
    transition: opacity 0.6s ease;

    &.active {
      display: block;
      opacity: 1;
    }

    &__content {
      display: flex;
      gap: 60px;
      align-items: flex-start;
      padding: 0 18px;

      @media (max-width: 1024px) {
        flex-direction: column;
        gap: 40px;
      }
    }
  }

  // ЛІВИЙ БЛОК — список
  .case-slide__list {
    flex: 1;
    max-width: 100%;

    @media (min-width: 1025px) {
      max-width: 500px;
      .case-slide__detail {
        display: none !important;
      }
    }
  }

  .case-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    padding: 24px 0;
    margin-bottom: 12px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.4s ease;
  }

  .case-item__num {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    width: 48px;
    height: 48px;
    line-height: 36px;
    text-align: center;
    font-weight: 700;
  }

  .case-item__title {
    font-size: 20px;
    font-weight: 200;
    color: #fff;
    max-width: 300px;
    width: 78.9%;
  }

  .case-item__arrow {
    color: rgba($color: #ffffff, $alpha: 0.6);
    font-size: 14px;
  }

  .case-item__desc {
    display: none;

    p {
      font-size: 16px;
    }
  }

  .case-slide__list {
    .case-item {
      &.active {
        .case-item__title {
          color: #ff8c00;
        }
        .case-item__desc {
          display: block;
        }

        .case-slide__detail {
          display: flex;
          margin-top: 30px;
          .case-detail {
            padding: 0;

            .case-detail__label {
              margin: 16px 10px;
            }

            .case-detail__metrics {
              margin-top: 0;
            }
          }
        }
      }
    }
  }

  // щоб смужка-таймер завжди була видна поверх бекграунда
  .case-item__timer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    overflow: hidden;
  }
  .case-item__timer-fill {
    width: 0%;
    height: 100%;
    background: #8b8dff;
    border-radius: 2px;
  }

  // ПРАВИЙ БЛОК — деталі
  .case-slide__detail {
    flex: 1;
    max-width: 100%;
    height: -webkit-fill-available;
    display: none;

    @media (min-width: 1025px) {
      display: flex;
      max-width: 660px;
    }
  }

  .case-detail {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 24px;
    padding: 32px;
    backdrop-filter: blur(12px);
    width: 100%;

  }

  .case-detail__label {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #ff8c00;
    font-weight: 600;
    margin-bottom: 24px;

    .dot {
      width: 12px;
      height: 12px;
      background: #ff8c00;
      border-radius: 50%;
    }
  }

  .case-detail__chart img {
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  }

  .case-detail__metrics {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 32px;
  }

  .case-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .left {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }

  .metric {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: flex-start;
    text-align: center;
    flex: 1;
    min-width: 75px;
    padding: 16px;

    &:nth-child(2) {
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      border-right: 1px solid rgba(255, 255, 255, 0.1);
    }
  }

  .metric__top {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 5px;
  }

  .metric__num {
    font-size: 14px;
    font-weight: 400;
    line-height: 0;
    color: rgba(255, 255, 255, 0.7);
  }

  .metric__arrow {
    font-size: 31px;
    color: #ff8c00;
    margin: 8px 0;
  }

  .metric__desc {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
  }

  // МОБІЛКА
  @media (max-width: 1024px) {
    .case-slide__detail {
      order: -1;
    }
    .case-slide__list {
      order: 2;
    }
  }

  @media (max-width: 768px) {
    margin: 80px auto 0;
    &__title h2 {
      font-size: 38px;
    }
  }
}
